@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import "helpers/variables";
@import "helpers/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  min-height: 100vh;
}