@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import "helpers/variables";
@import "helpers/mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: $color__light_gray;
}

main {
  margin-inline: 1rem;
  max-width: 325px;
  background-color: #fff;
  @include border-radius-small;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1rem 3rem rgba(0,0,0, 0.2);
  img {
    max-width: 100%;
    display: block;
    @include border-radius-small;
  }
  h1 {
    font-size: 1.5em;
    padding: 1rem 1rem 0 1rem;
    color: $color__dark_blue;
  }
  p {
    padding: 1rem;
    color: $color__grayish_blue;
    font-weight: $weight__medium;
  }
}